
.esri-ui-inner-container .esri-component{
    box-shadow:none !important
  }

.esri-legend__layer-caption {
  display: none;
}

.esri-widget {
  color: var(--colors-fg) !important;
  background-color: var(--colors-bg) !important;
}

.esri-widget__heading {
  color: var(--colors-fg) !important;
}
