@layer reset, base, tokens, recipes, utilities;

@import "https://js.arcgis.com/4.30/@arcgis/core/assets/esri/themes/light/main.css";
@import "./esri-overides.css";

@layer base {
  html, body, #root {
    height: 100%;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);

  }
}

@keyframes slideInRight {
  from {
    transform: translateX(10px);

  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0);
  }
}
