:root {
  --color: #333;
  --bg: #eee;
}

.hidden {
  display: none !important;
}

.dark-mode {
  --color: #eee;
  --bg: #333;
}

body {
  margin: 0;

  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;

  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace;
}

.status-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.status-na {
  background-color: #BBDAC0;
}
.status-offline {
  background-color: #B10E1E;
}
.status-pending {
  background-color: #FFBF47;
}
.status-processing {
  background-color: #2B8CC4;
}
.status-online {
  background-color: #379245;
}
.status-outdated {
  background-color: #F47738;
}