:root {
  --color: #333;
  --bg: #eee;
}

.dark-mode {
  --color: #eee;
  --bg: #333;
}

body {
  margin: 0;

  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;

  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace;
}
