:root {
  --color: #333333;
  --bg: #eeeeee;
  --panel-bg: #eeeeee63;

  overflow: hidden;
}

.hidden {
  display: none !important;
}

.dark-mode {
  --color: limegreen;
  --bg: #333333;
  --panel-bg: #333333b8;
  --border-color: limegreen;
}

body {
  margin: 0;

  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;

  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace;
}

.app-panel {
  background-color: var(--panel-bg);
}

.status-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 1px solid transparent;
}

/* if changing status colours, make sure to update style function in AppMap as well for footprint outlines */

.status-na {
  border-color: #555555;
  background-color: #EEEEEE;
}
.status-offline {
  border-color: #B10E1E;
  background-color: #E4ADB3;
}
.status-pending {
  border-color: #FFBF47;
  background-color: #FFE9C0;
}
.status-processing {
  border-color: #2B8CC4;
  background-color: #B7D8EB;
}
.status-online {
  border-color: #379245;
  background-color: #BBDAC0;
}
.status-outdated {
  border-color: #F47738;
  background-color: #FBD1BB;
}
.status-hr-requested {
  border-color: #28A197;
  background-color: #B6DFDC;
}
.status-hr-pending {
  border-color: #28A197;
  background-color: #6FC0B9;
}
.status-hr-processing {
  border-color: #28A197;
  background-color: #0E3733;
}
.status-hr-online {
  border-color: #0E3733;
  background-color: #28A197;
}

/* general dark mode overrides */
.dark-mode button {
  color: var(--color);
  background-color: var(--bg);
  border-color: var(--border-color);
}
.dark-mode .activated {
  color: var(--bg);
  background-color: var(--border-color);
  border-color: var(--bg);
}
